apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: bradkim
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: kafka
        image: wurstmeister/kafka
        ports:
        - containerPort: 9092
        - containerPort: 9093
        env:
        - name: KAFKA_ZOOKEEPER_CONNECT
          value: "zookeeper-service:2181"
        - name: KAFKA_ADVERTISED_LISTENERS
          value: "INSIDE://kafka-service:9093,OUTSIDE://kafka-service:9092"
        - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
          value: "INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT"
        - name: KAFKA_LISTENERS
          value: "INSIDE://0.0.0.0:9093,OUTSIDE://0.0.0.0:9092"
        - name: KAFKA_INTER_BROKER_LISTENER_NAME
          value: "INSIDE"

---
apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  namespace: bradkim
spec:
  type: ClusterIP
  ports:
  - name: outside  # 외부 접속용 포트 이름 추가
    port: 9092
    targetPort: 9092
  - name: inside   # 내부 브로커 통신용 포트 이름 추가
    port: 9093
    targetPort: 9093
  selector:
    app: kafka
